<footer class="main">
	<div class="container clearfix">
		<div id="uncopyright">
		<p>Uncopyright &copy; 2018 <strong>Team: trains. For JetRuby</strong></p>
		</div>
		<div id="credits">
		<p>Sustainabily coded with love by <a href="http://vk.com/">Igor, Egor, Vitalli, Yana</a></p> 
		</div>
	</div>
</footer>  