<%= render 'menu' %>
	 <div id="hero">
	    <div class="container">
			<%= image_tag("hotel_man.jpg", :alt => "Hotel Man") %>
	    </div>
		</div>
		<div class="top-5">
		</div>
<p class="alert"><%= alert %></p>
<%= render 'footer' %>