<script type="text/javascript">
	window.onload = function() { // запуск слайдера после загрузки документа
  slider.init();
  setInterval(function() { // ставим пятисекундный интервал для перелистывания картинок
    slider.right();
  },5000);
};
</script>


<%= render 'menu' %>

		
<div id="main">
  <button id="butt" class="left" onclick="slider.left();"><</button>
  <div id="scr">
  	<div id="st"></div>
  </div>
  <button id="butt" class="right" onclick="slider.right();">></button>
</div>
<h2 align="center" style="margin-top: 5%" class="article-h2">Top 5 best hotels</h2>
<%= render 'topFive'%>

<%= render 'footer' %>
