body  {
   background: #f2f3ee url('bg-tile.gif') top left repeat;
   color: #4b2707;
   font-size: 14px;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
   width: 924px;
   margin: 0 auto;
   padding: 30px 24px;
}

h1, h2 {
   color: #d17f38;
   font-size: 40px;
   font-weight: normal;
   font-family: 'Love Ya Like A Sister', cursive;
   line-height: 44px;
   margin: 0;
}

h1  {
   text-align: center;
   padding: 0 0 20px;
   background: url('header-divider.png') bottom center no-repeat;
}

h1 em {
   font-style: normal;
   color: #4b2707;
}

a:link {
   color: #d17f38;
}

a:visited {
   color: #d17f38;
}

a:hover {
   color: #4b2707;
}


header nav {
   text-align: center;
}

header nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: block;
   line-height: 141px;
}

header nav ul li {
   display: inline-block;
   padding: 0 20px;
}

header nav ul li a {
   text-transform: uppercase;
   text-decoration: none;
   font-weight: bold;
}

header nav ul li a:hover {
   color: #4b2707;
   padding-top: 20px;
   background: url('tiny-donut.png') top center no-repeat;
}

#reg {
  float: right;
}


#hero {
   background: #e8c04f url('bg-tile-yellow.gif') top left repeat;
}

#hero .container {
   position: relative;
}

#sign-up, #sign-in, #resend-inf, #forgot-pas {
   text-align: center;
}

.new_user {
   padding: 30px 0;
}

div.actions > input {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}

div.actions > input:hover {
   background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

div.actions > input:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.actions {
   padding: 10px 0;
}

footer.main {
   background: #4b2707 url('bg-tile-brown.gif') top left repeat;
   color: #f2f3ee;
   padding: 30px 0;
}

footer.main a:hover {
   color: #f2f3ee;
}

#uncopyright, #credits {
   width: 240px;
   float: left;
   padding: 10px 0 10px 50px;
}

#uncopyright {
   background: url('icon-recycle.png') center left no-repeat;
}

#credits {
   background: url('icon-apple.png') center left no-repeat ;
   float: right;
   margin-top: 9px;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   content: "";
   clear: both;
   height: 0;
}

